.image-list {
  .image-item--thumbnail {
    width: 200px;
    height: 200px;
    margin: 10px;
  }
  .image-item--detail {
    width: 30px;
    height: 30px;
    margin: 10px;
  }
  .detail-list {
    margin-left: 20px;
  }
}
